{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the Quiz App</h1>
<p>Create quizzes and challenge your friends!</p>

<div class="mt-4">
    <a href="/create-quiz" class="btn btn-primary">Create a Quiz</a>
</div>

<hr>

<h2>Available Quizzes</h2>
{% if quizzes %}
    <ul class="list-group mt-3">
        {% for quiz in quizzes %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ quiz.title }}</span>
            <a href="{{ url_for('take_quiz', quiz_id=quiz.id) }}">Take Quiz</a>
             <a href="{{ url_for('quiz_participants', quiz_id=quiz.id) }}">View Participants</a>

             <form action="{{ url_for('delete_quiz', quiz_id=quiz.id) }}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger">Delete Quiz</button>
            </form>

        </li>
        {% endfor %}

    </ul>
{% else %}
    <p>No quizzes available. Be the first to <a href="/create-quiz">create one</a>!</p>
{% endif %}
{% endblock %}
